body {
    margin: unset;
}
.wrapper {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

.wrapper>header {
    grid-area: "header";
    height: 100px;
}

.wrapper>main {
    grid-area: "main";
    padding-top: 30px;
}

.wrapper>footer {
    grid-area: "footer";
    height: 500px;
}

.red {
    background-color: rgb(243, 106, 91);
}

.lime {
    background-color: rgb(81, 252, 81);
}

.orange {
    background-color: rgb(255, 130, 47);
}